body {
  font-family: monospace;
  background-color: #000000;
  color: #ffffff;
  /* background: url("https://media.giphy.com/media/WoD6JZnwap6s8/giphy.gif"); */
}

.parallex {
  background: url("https://media.giphy.com/media/WoD6JZnwap6s8/giphy.gif");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#navImg {
  border-radius: 50%;
  height: 30px;
}

a {
  color: #ffffff;
}

#morphius,
#navbarLogo {
  cursor: default;
}

a:hover {
  color: green;
}

.navbar,
.navbar-toggler {
  background-color: #ffffff;
}

.navbar {
  background-color: #000000 !important;
}

.navbar-toggler:hover {
  background-color: green;
  color: #ffffff;
}

#welcomemain {
  padding-top: 12em;
}

#welcomemainImg {
  border: 10px solid darkgreen;
  border-radius: 50%;
  height: 22rem;
  width: auto;
}

#welcomemainImgdesc {
  margin-top: 1.5em;
  font-size: 18px;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#portfolioContainer {
  text-align: center;
}

#portfolio,
#contact,
#about,
#bodyFooter {
  padding-top: 15em;
}

#portfolioContainer,
#contactContainer,
#aboutContainer {
  background-color: #000000;
  padding: 1em;
  border-top: 1px solid darkgreen;
  border-bottom: 1px solid darkgreen;
}

#footerContainer {
  background-color: #000000;
  padding: 1em;
  border-top: 1px solid darkgreen;
  text-align: center;
}

footer {
  margin-top: 1em;
}

#github,
#facebook,
#linkedin {
  border: 2px solid darkgreen;
  margin: 5px;
  padding: 5px 8px 5px 8px;
  border-radius: 50%;
}

#einstein,
#gallery,
#pes {
  height: 100px;
  width: auto;
}
