body {
	font-family: monospace;
	background-color: #000000;
	color: #FFFFFF;
	background: url('https://media.giphy.com/media/WoD6JZnwap6s8/giphy.gif');
}

#navImg {
	border-radius: 50%;
	height: 30px;
}

a {
	color: #FFFFFF;
}

a:hover {
	color: green;
}

.navbar, .navbar-toggler {
	background-color: #FFFFFF;
}

.navbar {
	background-color: #000000 !important;
}

.navbar-toggler:hover {
	background-color: green;
	color: #FFFFFF;
}

#welcomemain {
	margin-top: 10em;
}

#welcomemainImg {
	border: 10px solid darkgreen;
	border-radius: 50%;
}

#welcomemainImgdesc {
	margin-top: 1.5em;
	font-size: 14px;
	text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}